.h2-shopping-cart-form{
    color: var(--red);
    font-size: 96px;
    margin-bottom: 72px;
    text-align: center;
}

.shopping-cart-form-container{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

.shopping-cart-form{
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: center;
}

.shopping-cart-form label{
    align-items: center;
    color: var(--red);
    display: flex;
    font-size: 24px;
    gap: 24px;
    position: relative;
}

.shopping-cart-form label p{
    font-size: 16px;
    position: absolute;
    right: 0;
    top: -24px;
}

.shopping-cart-form input{
    background-color: var(--dark-blue);
    border: 1px solid var(--red);
    color: #fff;
    font-size: 32px;
    height: 64px;
    padding-left: 16px;
    width: 416px;
}

.shopping-cart-form label:nth-child(4) input{
    width: 136px;
}

.shopping-cart-form button{
    background-color: var(--dark-blue);
    border: 1px solid var(--red);
    color: var(--red);
    cursor: pointer;
    font-size: 32px;
    margin: auto;
    padding: 16px;
    width: max-content;
}

@media (max-width: 1100px) {
    .shopping-cart-form label{
        font-size: 16px;
    }

    .shopping-cart-form input{
        font-size: 16px;
        height: 40px;
        width: 216px;
    }

    .shopping-cart-form label:nth-child(4) input{
        width: 84px;
    } 
}

@media (max-width: 760px) {
    .h2-shopping-cart-form{
        font-size: 40px;
    }

    .shopping-cart-form button{
        font-size: 20px;
    }
}

@media (max-width: 460px) {
    .shopping-cart-form label{
        font-size: 12px;
        gap: 4px;
    }

    .shopping-cart-form label p{
        font-size: 8px;
    }

    .shopping-cart-form input{
        font-size: 12px;
        height: 32px;
        padding-left: 4px;
        width: 96px;
    }

    .shopping-cart-form label:nth-child(4) input{
        width: 48px;
    } 
}

