.div-games-list{
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
    width: 100%;
}

.p-not-found{
    align-items: center;
    color: var(--red);
    display: flex;
    font-size: 48px;
    justify-content: center;
    width: 100%;
}