.h2-homepage-part{
    color: var(--red);
    display: flex;
    font-size: 64px;
    justify-content: center;
}

.section-homepage{
    border-bottom: 1px solid var(--red);
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
}

.div-games-list-homepage{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
    margin-block: 36px;
    width: 100%;
}

@media (max-width: 450px) {
    .h2-homepage-part{
        font-size: 32px;
    }
}