.h2-shopping-cart{
    color: var(--red);
    font-size: 96px;
    margin-bottom: 36px;
    text-align: center;
}

.div-shopping-state{
    border-inline: 1px solid var(--red);
    color: var(--red);
    display: flex;
    font-size: 24px;
    gap: 16px;
    margin-inline: auto;
    margin-bottom: 96px;
    padding: 16px;
    width: min-content;
}

.div-shopping-state div{
    border: 1px solid var(--red);
    padding: 8px 16px;
}

.div-shopping-cart-games{
    align-items: center;
    border-bottom: 1px solid var(--red);
    display: flex;
    flex-wrap: wrap;
    gap: 240px;
    justify-content: center;
    margin-bottom: 32px;
    padding-bottom: 32px;
}

.div-shopping-cart-games-list{
    background-color: var(--red);
    box-shadow: 0 0 32px 0 #000;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    width: 560px;
}

.div-shopping-cart-games-list h3{
    color: var(--dark-blue);
    font-size: 24px;
}

.div-shopping-cart-games-price{
    border: 1px solid var(--red);
    color: var(--red);
    display: flex;
    flex-direction: column;
    gap: 96px;
    padding: 32px;
}

.div-shopping-cart-games-price p{
    font-size: 48px;
}

.div-shopping-cart-games-price button{
    background-color: var(--dark-blue);
    border: 1px solid var(--red);
    color: var(--red);
    cursor: pointer;
    font-size: 32px;
    padding-block: 8px;
}

@media (max-width: 740px){
    .h2-shopping-cart{
        font-size: 48px;
    }

    .div-shopping-cart-games-price p, .div-shopping-cart-games-price button{
        font-size: 20px;
    }
}

@media (max-width: 640px) {
    .div-shopping-cart-games-list{
        width: 216px;
    }
}