.h2-keys{
    color: var(--red);
    font-size: 96px;
    margin-bottom: 72px;
}

.keys-container{
    align-items: center;
    color: var(--red);
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.keys-container h3{
    font-size: 64px;
    margin-bottom: 36px;
    text-align: center;
}

.keys-link{
    border: 1px solid var(--red);
    color: var(--red);
    display: flex;
    font-size: 24px;
    margin-inline: auto;
    margin-top: 72px;
    padding: 8px;
    text-decoration: none;
    width: max-content;
}

@media (max-width: 760px) {
    .keys-container h3{
        font-size: 24px;
    }
}

