header{
    align-items: center;
    border-bottom: 1px solid var(--red);
    box-shadow: 0 0 8px 2px;
    display: flex;
    height: 120px;
    justify-content: space-between;
    padding: 0 36px;
    width: 100%;
}

header a{
    color: var(--red);
    text-decoration: none;
}

.div-searching{
    display: flex;
}

.div-searching *{
    font-size: 24px;
    height: 64px;
}

header input[type=search]{
    background-color: var(--dark-blue);
    border: 1px solid var(--red);
    color: #fff;
    width: 32%;
}

header input[type=search]::placeholder{
    color: #fff;
}

.div-searching input{
    min-width: 320px;
    padding-left: 16px;
}

.div-searching a{
    align-items: center;
    background-color: var(--red);
    border: var(--red);
    color: var(--dark-blue);
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 12px;
}

.div-nav-list {
    display: flex;
    gap: 24px;
    font-size: 24px;
}

.div-button-shopping-cart{
    position: relative;
}

.button-shopping-cart{
    background: none;
    border: none;
    color: var(--red);
    font-size: 24px;
}

.button-shopping-cart img{
    height: 100%;
    width: auto;
}

.div-hamburger{
    display: none;
}

.div-hamburger button{
    background-color: var(--dark-blue);
    border: none;
    cursor: pointer;
    display: flex;
}

.div-hamburger-opened{
    align-items: center;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    gap: 36px;
    height: 100vh;
    justify-content: center;
    overflow-y: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
}

.div-hamburger-input{
    display: flex;
    justify-content: center;
}

.div-hamburger-opened button{
    color: var(--red);
    font-size: 36px;
    position: absolute;
    right: 24px;
    top: 24px;
}

.div-hamburger-opened input{
    font-size: 24px;
    height: 60px;
    min-width: 240px;
    padding-left: 16px;
}

.div-hamburger-opened a{
    border: 1px solid var(--red);
    color: var(--red);
    font-size: 24px;
    padding: 12px;
}

@media (max-width: 1200px) {
    .div-hamburger{
        display: flex;
    }

    .div-nav-list{
        display: none;
    }
}

@media (max-width: 850px) {
    .div-searching{
        display: none;
    }
}

@media (max-width: 550px) {
    .div-hamburger-opened input{
        min-width: 132px;
        padding-left: 8px;
    }

    .div-hamburger-opened input, .div-hamburger-input a{
        font-size: 16px;
        height: 40px;
    }

    .div-hamburger-input a{
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .div-hamburger-opened a{
        font-size: 16px;
    }
}

@media (max-width: 380px) {
    header{
        padding: 0 24px;
    }

    header h1{
        font-size: 20px;
    }
}