@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Nunito Sans';
  margin: 0;
  outline: none;
  padding: 0;
}

:root{
  --dark-blue: #12121a;
  --red: #ff0040;
}

#root, body{
  background-color: var(--dark-blue);
  min-height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

.menu-displayed{
  overflow: hidden;
}

main{
  padding: 36px;
}

::-webkit-scrollbar{
  background: var(--dark-blue);
  width: 16px;
}

::-webkit-scrollbar-thumb{
  background: var(--red);
  border: 4px solid var(--dark-blue);
}
