@use "../../../scss/Variables" as *;

.shopping-cart-price{
    border: 1px solid $red;
    color: $red;
    display: flex;
    flex-direction: column;
    gap: 96px;
    height: min-content;
    justify-content: space-between;
    padding: 32px;
    white-space: nowrap;

    &__text{
        font-size: 48px;
    }

    &__link{
        @extend %button-default;
        font-size: 32px;
        padding: 8px;
        text-align: center;
    }
}

@media (max-width: 740px) {
    .shopping-cart-price{

        &__text{
            font-size: 20px;
        }

        &__link{
            font-size: 20px;
        }
    }
}