.div-shopping-cart-games-price{
    border: 1px solid var(--red);
    color: var(--red);
    display: flex;
    flex-direction: column;
    gap: 96px;
    height: min-content;
    justify-content: space-between;
    padding: 32px;
    white-space: nowrap;
}

.div-shopping-cart-games-price p{
    font-size: 48px;
}

.div-shopping-cart-games-price a{
    background-color: var(--dark-blue);
    border: 1px solid var(--red);
    color: var(--red);
    cursor: pointer;
    font-size: 32px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
}

@media (max-width: 740px) {
    .div-shopping-cart-games-price p, .div-shopping-cart-games-price a{
        font-size: 20px;
    }
}